<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../../../assets/schlogo.jpeg" alt="" />
      <span class="d-none d-lg-block">Result App</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>

  <div class="search-bar">
    <form class="search-form d-flex align-items-center">
      <input type="text" placeholder="Search" />
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>

  <div class="semester">
    <h3>Term:<span>One</span></h3>
  </div>
  <div class="year">
    <h3>Year:<span>2023</span></h3>
  </div>

  <div class="profile">
    <h3>welcome {{ adminUser.superAdmin.first_name }}</h3>
  </div>
</header>

<!-- sidebar -->
<aside id="sidebar" class="sidebar navbar-collapse">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/manageTeachers" class="nav-link collapsed">
        <i class="bi bi-card-list"></i>
        <span>Manage Teachers</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/manageStudents" class="nav-link collapsed">
        <i class="bi bi-person-circle"></i>
        <span>Manage Students</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/manageSubjects" class="nav-link collapsed">
        <i class="bi bi-journals"></i>
        <span>Manage Subjects</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/manageClass" class="nav-link collapsed">
        <i class="bi bi-house-add"></i>
        <span>Manage Class</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/results" class="nav-link collapsed">
        <i class="bi bi-envelope-paper"></i>
        <span>Results</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a routerLink="/gradeScale" class="nav-link collapsed">
        <i class="bi bi-escape"></i>
        <span>Grade Scale</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a routerLink="/settings" class="nav-link collapsed">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
      </a>
    </li>

    <li class="nav-item" (click)="logout()">
      <a routerLink="/settings" class="nav-link collapsed">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</aside>

<!-- main content -->
<main id="main" class="main">
  <div class="pagetitle">
    <h2>Manage Students</h2>
  </div>

  <!-- Button trigger modal -->
  <div class="btn-teacher">
    <button
      type="button"
      class="btn btn-btn"
      data-bs-toggle="modal"
      data-bs-target="#addteacher"
    >
      Add Student
    </button>
    <!-- <button type="button" class="btn btn-two">Assign Class</button> -->
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="addteacher"
    tabindex="-1"
    aria-labelledby="teacherModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="teacherModalLabel">
            Add a Student Here...
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Forms -->
          <form
            [formGroup]="studentForm"
            (ngSubmit)="createStudents()"
            class="row g-3"
          >
            <!-- first name -->
            <div class="col-md-12">
              <label for="f_name" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="first_name"
                id="f_name"
                placeholder="eg; john"
              />
            </div>
            <!-- other name -->
            <div class="col-md-6">
              <label for="o_name" class="form-label">Other Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="other_name"
                id="o_name"
                placeholder="eg; kofi"
              />
            </div>
            <!-- last name -->
            <div class="col-md-6">
              <label for="l_name" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="last_name"
                id="l_name"
                placeholder="eg;owusu"
              />
            </div>
            <!-- email -->
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="email"
                placeholder="eg; ama@gmail.com"
              />
            </div>
            <!-- Phone number -->
            <div class="col-md-6">
              <label for="g" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="guidance"
                id="g"
                placeholder="eg; 0248762345"
              />
            </div>
            <!-- Phone number -->
            <div class="col-md-6">
              <label for="number" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="guidance_number"
                id="number"
                placeholder="eg; 0248762345"
              />
            </div>

            <!-- Class -->
            <div class="col-md-12">
              <label for="teacher" class="form-label">Select Class</label>
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="class"
              >
                <option selected>Select Class</option>
                <option
                  *ngFor="let class of data"
                  value="{{ class.classCode }}"
                >
                  {{ class.className }}
                </option>
              </select>
            </div>

            <!-- location -->
            <div class="col-12">
              <label for="location" class="form-label">Location</label>
              <input
                type="text"
                class="form-control"
                formControlName="location"
                id="location"
                placeholder="Apartment, studio, or floor"
              />
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-btn">Add</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <section class="display">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Index Number</th>
              <th scope="col">Name</th>
              <th scope="col">Guidance</th>
              <th scope="col">Guidance Number</th>
              <th scope="col">Class</th>
              <th scope="col">Location</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let datas of res; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ datas.studentIndex }}</td>
              <td>
                {{
                  datas.first_name +
                    " " +
                    datas.other_name +
                    " " +
                    datas.last_name
                }}
              </td>
              <td>{{ datas.guidance }}</td>
              <td>{{ datas.guidance_number }}</td>
              <td>{{ datas.data | date }}</td>
              <td>{{ datas.location }}</td>
              <td>
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
