<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1>
        <a href="index.html"><span>Result App</span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Features</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Login Here</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a routerLink="/adminLogin">Admin</a></li>
            <li><a routerLink="/teacherLogin">Teacher</a></li>
            <li><a href="#">Student</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center"
      >
        <div data-aos="zoom-out">
          <h1>
            Welcome to the future of tracking your progress
            <span>and achieving your goals effortlessly!</span>
          </h1>
          <h2>
            The Ultimate Result App is a powerful and intuitive tool designed to
            help you stay organized, motivated, and on track to achieve your
            desired outcomes.
          </h2>
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg> -->
</section>
<!-- End Hero -->
